.DefaultButton
{
    background-color: #5a3d2a;
    border-style: solid;
    border-width: 1px;

    border-top-color: #555555;
    border-left-color: #494949;
    border-bottom-color: #333333;
    border-right-color: #404040;

    transition-property: background-color;
    transition-duration: 0.05s;
    transition-timing-function: linear;
}

.DefaultButton:hover
{
    background-color: #5a3d2a;
    border-top-color: #aaaaaa77;
    border-left-color: #aaaaaa33;
    border-bottom-color: #333333;
    border-right-color: #404040;
}
.DefaultButton:active
{
    background-color: #5a3d2a;
    border-top-color: #222222;
    border-left-color: #303030;
    border-bottom-color: #666666;
    border-right-color: #444444;
    sound: "ui_generic_button_click";
}